/.ipynb_checkpoints/
/.idea/.gitignore
/.idea/batracoon.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
.ipynbcheckpoints/
